<script type="module" defer async crossorigin>
  import { create, search, insert, insertBatch } from "https://cdn.jsdelivr.net/npm/@lyrasearch/lyra@0.4.1/dist/index.js";
  const db = await create({
    schema: {
      author: "string",
      quote: "string",
    },
  });
  const newData = await insertBatch(db, [
  {
    quote: "It is during our darkest moments that we must focus to see the light.",
    author: "Aristotle",
  },
  {
    quote: "If you really look closely, most overnight successes took a long time.",
    author: "Steve Jobs",
  },
  {
    quote: "If you are not willing to risk the usual, you will have to settle for the ordinary.",
    author: "Jim Rohn",
  },
  {
    quote: "You miss 100% of the shots you don't take",
    author: "Wayne Gretzky - Michael Scott",
  },
  ]);
  const searchResult = await search(db, {
    term: "if",
    properties: "*",
  });
  console.log(searchResult)
</script>